@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: theme("colors.slate.800");
    --background: theme("colors.slate.200");

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: theme("colors.indigo.600");
    --primary-foreground: theme("colors.indigo.100");

    --secondary: theme("colors.indigo.700");
    --secondary-foreground: theme("colors.indigo.200");

    --muted: theme("colors.slate.500");
    --muted-foreground: theme("colors.slate.700");

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: theme("colors.red.600");
    --destructive-foreground: theme("colors.red.100");

    --border: 214.3 31.8% 91.4%;
    --input: theme("colors.slate.300");
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: theme("colors.slate.900");
    --foreground: theme("colors.slate.200");

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: theme("colors.indigo.500");
    --primary-foreground: theme("colors.indigo.100");

    --secondary: theme("colors.indigo.600");
    --secondary-foreground: theme("colors.indigo.200");

    --muted: theme("colors.slate.700");
    --muted-foreground: theme("colors.slate.500");

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: theme("colors.red.400");
    --destructive-foreground: theme("colors.red.100");

    --border: 217.2 32.6% 17.5%;
    --input: theme("colors.slate.800");
    --ring: 212.7 26.8% 83.9%;
  }
}
